/* Place CSS styles here */
button{
    background-color: beige;
    border-color: beige;
    color: black;
    border-radius: 8px;
  }
  button:hover{
    background-color: white;
        }

img{
  display: flex;
  justify-content: flex-end;
}
/*HEADER STYLES */
<main>
<main>

main header{
#Brownies {
  display: flex: ;
}

#Cupcakes {
  display:flex;
  justify-content: flex-end;
}

#Cakes {

}

#Pies {

}
}