/* Place CSS styles here */
button{
    background-color: beige;
    border-color: beige;
    color: black;
  }
  button:hover{
    background-color: white;
        }

/*HEADER STYLES */
main header{

}