/* Place CSS styles here */
button{
    background-color: beige;
    border-color: beige;
    color: black;
    border-radius: 8px;
  }
  button:hover{
    background-color: white;
        }

}
/*HEADER STYLES */
<main>
<main>

main header{
