/* Place CSS styles here */
button{
    background-color: beige;
    border-color: beige;
    color: antiquewhite;
    display: flex;
    justify-content: center;
  }
  button:hover{
    background-color: beige;
        }

/*HEADER STYLES */
.main header{
  display: flex;
  justify-content: space-between;
}