/* Place CSS styles here */
.button{
    background-color: blue;
    border-color: blue;
    color: antiquewhite;
  }
  .button:hover{
    background-color: blue;
        }

/*HEADER STYLES */
.main header{
  display: flex;
  justify-content: space-between;
}